.my-list .spe .am-list-extra {
  flex-basis: initial;
}

.result-example .spe {
  width: 60px;
  height: 60px;
}
.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
  margin-left: 15px;
}

li.item-show:first-child {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

li.item-show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

li.menu-item {
  font-weight: 700;
  font-size: 1.5rem;
  /*-webkit-transform: scale(0);*/
  /*-ms-transform: scale(0);*/
  /*transform: scale(0);*/
  /*opacity: 0;*/
  -webkit-perspective: 100px;
  perspective: 100px;
  -webkit-transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
  -o-transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.menus {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  padding-left: 0;
}

.menu-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  visibility: hidden;
}

#menu,
.menus {
  position: absolute;
}

#menu {
  top: -45.6rem;
  right: -44.2rem;
  height: 100rem;
  width: 100rem;
  border-radius: 50%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all 0.55s cubic-bezier(0.74, 0.2, 0.37, 1);
  -o-transition: all 0.55s cubic-bezier(0.74, 0.2, 0.37, 1);
  transition: all 0.55s cubic-bezier(0.74, 0.2, 0.37, 1);
  background: #108ee9;
}

.open-menu {
  visibility: visible;
  -webkit-transform: scale(2.5);
  -ms-transform: scale(2.5);
  transform: scale(2.5);
}

.menu-item a,
.menu-item a:after,
.menu-item a:before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-item a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  padding: 2rem 1rem;
  margin: 0.1rem auto;
  width: 100vw;
  color: #fff;
  text-decoration: none;
}

.menu-item a:after,
.menu-item a:before {
  content: '';
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  margin: 0 1.5rem;
  -ms-flex-item-align: center;
  align-self: center;
}

.my-accordion .pad .am-accordion-content-box {
  padding: 10px;
}
